@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
body {
    font-family: 'Mouse Memoirs', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.leftside {
    background: green url(background.jpg) no-repeat center;
    width: 40vw;
    height: 100vh;
    background-size: cover;
    position: relative;
}

img[src='logo.png'] {
    width: 200px;
    height: 200px;
}

.leftside-content {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-style: solid;
    width: 99%;
    position: absolute;
    background-color: black;
    opacity: .8;
    top: 20vh;
    
}

.content {
    color: white;
    font-size: 3rem;
    margin-left: 3.5rem;
}

.rightside {
    background: black;
    opacity: .8;
    width: 60vw;
    
}

.dummy-text {
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dummy-text:nth-child(1) {
    margin-top: 25vh;
}

.second {
    margin-top: 1vh;
}

.form {
    margin: 5vh 2vw 0 2vw;
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    
}

.button {
    margin-left: 7vw;
    margin-top: 20px;
}